*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    background:#1E3C78 ;
    position: fixed;
    width: 100%;
    top: 0;
    height: 75px;
    z-index: 2;
}

nav{
    position: absolute;
    top: 0;
    right: 30px;
}

nav>ul>li{
    display: inline-block;
    padding: 30px;
    font-size:20px ;

}

nav>ul>li>a{
    color: white;
    text-decoration: none;

}
nav>ul>li>a:hover{
    color: #ff253a;
    transition: .4s;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;


}
nav>ul>li>a:hover{
    color: #ff253a;
    transition: .4s;
}

.hero{
    position: relative;
    margin-top: 73px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
}
.main-content>h2{
    color: black;
    font-family: Inter;
    font-style: italic;
    font-size:60px ;
    position: absolute;
}
.main-image>img{
    position: relative;
    width: 500px;
    height: 500px;
    left: 85px;
    top: 60px;
    border-radius: 50%;
}
.main-content h2:first-child{

    top: 10%;
    right: 20%;

}
.main-content h2:last-child{

    top: 16%;
    right: 8%;
    margin-top: 75px;
}

.hero aside {
    position: absolute;
    bottom: 20%;
    right: 20%;

}

.hero aside i{
    font-size: 50px;
    margin: 22px 22px;
    color: #095fc0;
}
.hero aside h4{
    font-size: 30px;
    margin: 22px 150px;

}
.hero aside i:hover{
    transform: scale(1.3);
    transition: .3s;

}

.about {
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.about-text {
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}
.about-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.detail {
    display: flex;
    font-size: 30px;
    color: white;
    padding: 50px 60px;
    letter-spacing: 1px;
}

.detail p:first-child{
    flex-basis: 70%;

}
.detail p:nth-child(2){
    padding-top: 40px;
}

.about section:last-child button{
    background-color:#4360C9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.education{
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.education-title{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: 10px auto;
    text-align: center;

}
.main-box{
    width: 1500px;
    height: 600px;
    max-width: 95%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-box1, .education-box2, .education-box3{
    height: 50px;
    width: 450px;
    padding: 10px 10px 35px;
    background: #D9D9D9;
    border-radius: 20px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*.education-box1, .education-box2, .education-box3 p{*/
/*    font-size: 20px;*/
/*}*/
.education-box1{
    align-self: self-end;
}

.education-box3{
    align-self: self-start;
}


.myskills-text h2{
    color: black;
    font-size: 50px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 50px;
}
.skill{
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;

}
.skill section:nth-child(2){
    width: 900px;
    height: 400px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:repeat(4,1fr);
    gap: 50px;
}
.skill section:nth-child(2) div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.50);
    background: linear-gradient(180deg, #C5D1EE 50%, rgba(197, 209, 238, 0.4) 100%);

}
.skill-deatail img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;

}
.skill-deatail div h4{
    position: relative;
    width: 70px;
    height: 30px;
    left:60px;
    top: 20px;
    font-size: 20px;


}
.skill-deatail div h5{
    position: relative;
    left:80px;
    top: 20px;
    font-size: 20px;
}
.button-read .button{
    background-color:#4360C9;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    margin-left: 700px;
    margin-bottom: 30px;
    top: 54px;
    position: relative;

}
.service{
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;

}
.service h2{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}
.service2-box{
    height: 400px;
    width: 500px;
    padding: 20px 35px;
    background: #D9D9D9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.service2-box img {
    width:150px;
    height: 100px;
}
.service2-box h5{
    font-size: 30px;
    margin-bottom: 15px;

}
.service2-box .button{
    background-color:#4360C9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.pra p{
    line-height:20px;
    margin-bottom: 35px;
}

.tools{
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
.tools h2 {
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}
.tools-box{
    border-radius: 20px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.tools-box img{
    width: 10%;
    height: 20%;
    margin: 50px 32px;
    transition: transform .4s;

}

.tools-box img:hover{
    transform: scale(2);
}

.projects {
    width: 100%;
    padding: 100px 0px;
    height: 80vh;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;

}
.projects h2{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin:  10px auto;
    text-align: center;
}
.projects-detail{
    display: flex;
    font-size: 25px;
    color: white;
    padding: 50px 60px;
    letter-spacing: 3px;
}
.projects-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.projects2-box{
    height: 300px;
    width: 400px;
    padding: 20px 35px;
    background: #D9D9D9;
    border-radius: 20px;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.projects2-box img{
    width:300px;
    height: 200px;
}
.projects2-box  .button{
    background-color:#4360C9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/IMG-20200718-WA0011.jpg);
    background-size: cover;
    margin-top: 70px;
}

.contact .content h2{
    font-size: 70px;
    font-weight: 500;
    color: black;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box01{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box01 .icon img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.container .contactInfo .box01 .icon-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
}

.contactForm{
    width: 40%;
    height: 40%;

}
.contactForm label{
    font-size: 30px;
    color: black;
    font-weight: 300;
}
#input, #input01, #input02{
    width: 70%;
    padding: 12px;
    border: 1px solid  #6694d0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: #6694d0;
}
.contactForm button{
    background-color:#6694d0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 20px;
    transition: .4s;
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background: #1E3C78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer p:nth-child(1){
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

footer p:nth-child(2){
    color: black;
    font-size: 30px;
    width: 1200px;
    text-align: center;
    line-height: 26px;
}
@media  screen and (max-width: 1440px) {
    .main-content h2:first-child {

        right: 18%;
    }

    .main-content h2:last-child {
        right: 3%;
    }

    .hero aside {
        right: 15%;
    }

    .about-text {

        font-size: 46px;
        margin: -10px auto;
    }
    .detail {

        font-size: 26px;
        padding: 43px 54px;
    }
    .about section:last-child button {

        border: 4px solid transparent;
        padding: 13px 30px;
        border-radius: 30px;
    }
    .education-title {
        font-size: 45px;
        margin: -10px auto;

    }
    .main-box {
        width: 1252px;
        height: 521px;

    }
    .education-box3 {
        height: 83px;
        width: 400px;
        margin: 49px;
    }
    .myskills-text h2 {
        font-size: 45px;
        width: 1130px;
        margin: -10px auto;
        padding-bottom: 46px;
    }
    .skill section:nth-child(2) {
        width: 883px;
        height: 366px;
        gap: 49px;
    }
    .button-read .button {
        border: 2px solid transparent;
        padding: 14px 30px;
        border-radius: 30px;
        margin-left: 660px;
        margin-bottom: 30px;
        top: 47px;

    }
    .service h2 {

        font-size: 45px;
        margin: -10px auto;

    }
    .service2-box h5 {
        font-size: 23px;
        margin-bottom: 8px;
    }
    .service2-box img {
        width: 133px;
        height: 88px;
    }
    .pra p {
        line-height: 19px;
        margin-bottom: 14px;
    }
    .tools h2 {

        font-size: 45px;
        margin: -10px auto;
    }
    .tools-box img {
        width: 8%;
        margin: 46px 32px;

    }
    .projects h2 {
        font-size: 45px;
    }
    .projects-box {
        height: 266px;
    }
    .contact .content h2 {
        font-size: 45px;

    }
}
@media  screen and (max-width: 1024px) {
    .main-image > img {

        width: 386px;
        height: 409px;

    }
    .main-content > h2 {

        font-size: 38px;

    }
    .main-content h2:last-child {

        right: 6%;
    }
    .hero aside {
        right: 5%;
    }

    .hero aside i {
        font-size: 37px;
    }
    .about-text {
        font-size: 38px;
        width: 1000px;
        margin: -41px auto;

    }

    .detail {

        font-size: 20px;
        padding: 56px 60px;

    }
    .education-title {

        font-size: 40px;
        width: 954px;
        margin: -62px auto;

    }

    .education-box1, .education-box2, .education-box3 {

        height: 166px;
        width: 614px;
        padding: 17px 47px 19px;
        margin: 59px;

    }
    .myskills-text h2 {
        font-size: 40px;
        width: 833px;
        margin: 4px auto;
        padding-bottom: 50px;

    }
    .skill section:nth-child(2) {

        width: 584px;
        height: 252px;
        top: -22px;
        gap: 32px;

    }
    .skill-deatail div h4 {
        height: 30px;
        left: 30px;
        top: 20px;
        font-size: 14px;
    }
    .skill-deatail img {
        width: 32px;
        height: 34px;
        left: 11px;
        top: 23px;
    }

    .skill-deatail div h5 {
        left: 46px;
        top: -9px;
        font-size: 17px;

    }
    .button-read .button {
        border: 2px solid transparent;
        padding: 13px 30px;
        border-radius: 30px;
        margin-left: 441px;
        margin-bottom: 30px;
        top: 11px;
    }
    .service h2 {

        font-size: 40px;
        width: 1000px;
        margin: -31px auto;


    }
    .service2-box {
        height: 341px;
        width: 224px;
        padding: 9px 2px;
        border-radius: 20px;
        margin: 12px;
    }
    .service2-box h5 {
        font-size: 23px;
        margin-bottom: 7px;
    }
    .service2-box img {
        width: 102px;
        height: 53px;
    }
    .pra p {
        line-height: 16px;
        margin-bottom: 15px;
    }

    .service2-box .button {
        border: 2px solid transparent;
        padding: 13px 30px;
        border-radius: 30px;
    }
    .tools h2 {
        font-size: 41px;
        margin: -36px auto;
    }
    .tools-box img {
        width: 8%;
        height: 12%;
        margin: 47px 34px;
        transition: transform .4s;
    }
    .projects h2 {

        font-size: 40px;
        width: 800px;
        margin: -35px auto;
    }
    footer p:nth-child(1) {
        font-size: 27px;
        margin-bottom: 17px;
    }
    .projects-detail {
        font-size: 22px;
        padding: 40px 41px;
    }
    .projects-box {
        height: 242px;
    }
    .projects2-box {
        height: 264px;
        width: 279px;
        padding: 16px 10px;
        border-radius: 20px;
        margin: 27px;
    }
    .projects2-box img {
        width: 201px;
        height: 163px;
    }

    .container .contactInfo {
        width: 58%;
    }
    .container {
        width: 105%;
        margin-top: 27px;
    }

    footer p:nth-child(2) {
        width: 800px;

    }

}
@media  screen and (max-width: 768px) {

    nav > ul > li {

        padding: 17px;
        font-size: 18px;
    }
    .main-image > img {
        width: 284px;
        height: 322px;
    }
    .main-image>img {
        left: 58px;
        top: 60px;
    }
    .main-content > h2 {
        font-size: 30px;
    }

    .main-content h2:first-child {
        top: 13%;
        right: 20%;
    }


    .main-content h2:last-child {
        top: 11%;
        right: 5%;
        margin-top: 71px;
    }
    .hero aside i {
        font-size: 32px;
        margin: 18px 17px;
    }
    .hero aside h4 {
        font-size: 27px;
        margin: 20px 86px;
    }
    .hero aside {

        bottom: 26%;
        right: 14%;
    }


    .about-text {
        width: 700px;
        font-size: 33px;
        margin: -43px auto;
    }


    .education-title {
        width: 700px;
        font-size: 33px;
        margin: -66px auto;
    }
    .education-box1, .education-box2, .education-box3 p{
        font-size: 15px;
    }
    .education-box1, .education-box2, .education-box3 {
        height: 137px;
        width: 645px;
        padding: 17px 33px 15px;
        margin: 47px;
    }


    .myskills-text h2 {

        width: 700px;
        font-size: 33px;
        margin: -31px auto;
        padding-bottom: 92px;

    }
    .button-read .button {
        margin-left: 317px;
    }
    .service h2 {
        width: 700px;
        font-size: 33px;
        margin: -46px auto;
    }
    .service2-box h5 {
        font-size: 22px;
        margin-bottom: -1px;
    }
    .service2-box img {
        width: 79px;
        height: 40px;
    }
    .pra p {
        line-height: 12px;
        margin-bottom: 20px;
    }
    .service2-box .button {
        border: 0px solid transparent;
        padding: 8px 30px;

    }
    .tools h2 {
        width: 700px;
    }
    .projects h2 {

        width: 700px;
        font-size: 33px;
        margin: -42px auto;
    }
    .projects-detail {
        font-size: 20px;
        padding: 45px 38px;
    }

    .projects2-box img {
        width: 182px;
        height: 145px;
    }
    .contact .content h2 {
        font-size: 40px;
    }
    .container .contactInfo .box01 {


        padding: 21px -1px;

    }
    .container .contactInfo .box01 .icon img {
        width: 56px;
        height: 53px;
        border-radius: 34%;
    }

    footer p:nth-child(2) {
        width: 700px;
    }
}

@media screen and (max-device-width: 425px) {

    nav > ul > li {
        padding: 1px;
        font-size: 17px;
    }
    .main-image>img {
        left: 13px;
        top: 119px;
    }
    .main-image > img {
        width: 168px;
        height: 181px;
    }

    .main-content > h2 {
        font-size: 18px;
    }
    .main-content h2:first-child {
        top: 24%;
        right: 11%;
        font-size: 27px;
    }
    .main-content h2:last-child {
        top: 23%;
        right: 1%;
        margin-top: 72px;
    }
    .hero aside {
        bottom: 23%;
        right: 16%;
    }
    .hero aside i {
        font-size: 25px;
        margin: 17px 4px;
    }
    .hero aside h4 {
        font-size: 21px;
        margin: 15px 22px;
    }

    .about-text {

        width:300px;
        font-size: 23px;
        margin: -63px auto;

    }
    .detail {
        font-size:16px;
        padding: 60px 16px;
    }

    .education-title{

        font-size: 24px;
        width: 250px;
        margin: -28px auto;


    }
    .main-box{
        width: 1500px;
        height:439px;
        max-width: 95%;

    }
    .education-box1, .education-box2, .education-box3 {

        height: 139px;
        width: 450px;
        padding: 10px 10px 35px;
        margin: 17px;

    }



    .myskills-text h2 {
        width: 300px;
        font-size: 23px;

    }
    .skill-deatail div h4 {
        height: 28px;
        left: 3px;
        top: 21px;
        font-size: 12px;
    }
    .skill-deatail img {
        width: 21px;
        height: 28px;
        left: 7px;
        top: 39px;
    }
    .skill-deatail div h5 {
        left: 34px;
        top: 16px;
        font-size: 11px;
    }
    .button-read .button {
        margin-left: 156px;
    }
    .skill section:nth-child(2) {
        width: 284px;
        gap: 7px;
    }
    .service h2 {
        width: 300px;
        font-size: 23px;
    }
    .service2-box {
        height:401px;
        width: 224px;
        padding: 4px 2px;
        border-radius: 21px;
        margin: 1px;
    }
    .service2-box img {
        width: 55px;
        height: 29px;
    }
    .service2-box h5 {
        font-size: 14px;
        margin-bottom: -4px;
    }
    .service2-box .button {
        border: 0px solid transparent;
        padding: 5px 20px;
        font-size: 8px;
    }
    .tools h2 {
        width: 300px;
        font-size: 23px;
    }
    .tools-box {
        border-radius: 20px;
        margin: 51px;
        position: relative;
        overflow: hidden;
        text-align: center;
        top: 36px;
    }
    .tools-box img {
        width: 13%;
        height: 20%;
        margin: 31px 16px;
        transition: transform .4s;
    }

    .projects h2 {
        width: 300px;
        font-size: 23px;
        margin: -44px auto;

    }
    .projects-detail {
        font-size: 17px;
        padding: 42px 29px;
    }
    .projects2-box {
        height: 241px;
        width: 274px;
        padding: 16px 10px;
        border-radius: 20px;
        margin: 3px;
    }
    .projects2-box img {
        width: 82px;
        height: 101px;
    }
    .projects2-box .button {
        padding: 1px 11px;
        border-radius: 30px;

    }
    .contact {

        padding: 41px 11px;

        margin-top: 70px;
    }
    .container .contactInfo .box01 .icon img {
        width: 38px;
        height: 39px;
        border-radius: 34%;
    }
    .container .contactInfo .box01 .icon-text {
        display: flex;
        margin-left: 0px;
        font-size: 13px;
        color: black;
    }
    #input, #input01, #input02 {
        width: 70%;
        padding: 8px;
        border: 4px solid #6694d0;
        border-radius: 7px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 15px;
        resize: vertical;
        background: #6694d0;
    }
    .container .contactInfo .box01 .icon img {
        width: 42px;
        height: 42px;
        border-radius: 34%;
    }
    footer p:nth-child(1) {
        font-size: 16px;

    }

    footer p:nth-child(2) {
        width: 300px;
        font-size: 24px;
    }

}

@media screen and (max-device-width: 375px){
    nav > ul > li {
        padding: 2px;
        font-size: 14px;
    }
    .main-image > img {
        width: 143px;
        height: 162px;
    }
    .main-image>img {
        left: 6px;
        top: 108px;
    }
    .main-content h2:last-child {
        top: 23%;
        right: 1%;
        margin-top: 72px;
    }
    .main-content > h2 {
        font-size: 17px;
    }
    .hero aside {
        bottom: 26%;
        right: 13%;
    }
    .about-text {

        font-size: 22px;
        margin: -60px auto;
    }
    .detail {
        font-size: 15px;
        padding: 60px 16px;
    }
    .education-title {
        font-size: 23px;
        margin: -24px auto;
    }
    .main-box {
        width: 1500px;
        height: 415px;
        max-width: 95%;
    }
    .education-box1, .education-box2, .education-box3 {
        height: 112px;
        width: 450px;
        padding: 19px 6px 31px;
        margin: 19px;
    }

    .education-box1, .education-box2, .education-box3 p {
        font-size: 11px;
    }
    .skill-deatail div h5 {
        left: 27px;

    }
    .button-read .button {

        padding: 6px 25px;
        margin-left: 134px;


    }
    .service h2 {
        width: 250px;
        font-size: 23px;
    }
    .service2-box img {
        width: 45px;
        height: 23px;
    }
    .service2-box {
        height: 355px;

    }
    .pra p {
        line-height: 12px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .tools-box {

        margin: 37px;

    }
    .projects-detail {
        font-size: 16px;
        padding: 42px 29px;
    }
    .projects2-box {
        height: 212px;
        padding: 19px 10px;
        margin: 3px;
        font-size: 12px;
    }

    .projects2-box .button {
        padding: 0px 15px;
        font-size: 12px;
    }

    .contact .content h2 {
        font-size: 32px;
    }
    .container .contactInfo .box01 .icon img {
        width: 32px;
        height: 32px;
        border-radius: 34%;
    }
    .container .contactInfo .box01 .icon-text {
        display: flex;
        margin-left: 0px;
        font-size: 11px;
        color: black;
    }
    footer p:nth-child(1) {
        font-size: 14px;
    }
    footer p:nth-child(2) {
        width: 300px;
        font-size: 20px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    nav > ul > li {
        padding: 0px;
        font-size: 12px;
    }
    .skill section:nth-child(2) {
        width: 291px;
        gap: 5px;
    }
    .skill-deatail div h5 {
        left: 10px;
    }
    .skill-deatail img {
        left: 0px;
        top: 20px;
    }
    .button-read .button {
        padding: 3px 19px;
        margin-left: 95px;
    }
}







