.body{
    margin: 0px;
}
.background{
    width:100%;
    height: 100vh;
    background-image:url("../image/background1.jpg") ;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}
.boy{
    height:180px;
    margin-top:400px;
    position: absolute;

}
.box{
    width: 100px;
    height:100px;
    /*background-color: #ff253a;*/
    position: absolute;
    margin-top: 532px;
    background-image: url("../image/gif/fire2.gif");
    background-size: contain;
    background-repeat: no-repeat;

}

.score{
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}