.body{
    margin: 0px;
}
.background{
    width:100%;
    height: 100vh;
    background-image:url("../image/background1.jpg") ;
    background-size: cover;
}
.boy{
    height:200px;
    margin-top: 446px;

}