*{
    padding: 0;
    margin: 0;
    font-family:Inter ;
    box-sizing: border-box;

}
header{
    background:#1E3C78 ;
    position: fixed;
    width: 100%;
    top: 0;
    height: 75px;
}
nav{
   position: absolute;
    top: 0;
    right: 30px;
}
nav>ul>li{
    display: inline-block;
    padding: 30px;
    font-size:20px ;

}
.hero>div>img{
    width: 200px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;

}
nav>ul>li>a:hover{
    color: #ff253a;
    transition: .4s;
}
.hero{
    width: 1920px;
    height: 720px;

    background-image:url("/img/my_image/IMG-20200718-WA0011.jpg");



}